#sql-to-cpt {
	button {
		color: #FFF;
		background: #7F54B3;
		padding: 11.5px 15px;
		border-radius: 2px;
		border: none;
		font-size: 13px;
		font-weight: 400 !important;
		cursor: pointer;

		&:hover {
			background: #1e6ba1;
		}
	}

	nav {
		padding: 10px 15px;
		border-left: 5px solid orange;
		background: #FFF;
		margin-top: 15px;
	}
}
